.eduMonth {
  background-color: var(--color-mb);
  color: var(--color-wh);
  padding-top: 150px;
}

.eduMonth a {
  color: white;
}

.eduMonth .inner {
  border: 1px solid red;
  max-width: 100%;
}

.eduMonth h2 {
  text-align: center;
}

.eduMonth h2 > * {
  display: block;
}

.eduMonth h2 strong {
  font-size: 40px;
}

.eduMonth h2 span {
  font-size: 16px;
}
