/** @format */
:root {
  --mColor1: #000;
  --mColor2: #333;
  --mColor3: #888;
  --mColor4: #eaeaea;
  --white: white;
}

body {
  background-color: var(--mColor1);
  color: var(--white);
}

.ham {
  position: fixed;
  top: 3rem;
  left: 3rem;
  width: 30px;
  height: 30px;
  border: 1px solid yellow;
  animation: ani1 1s infinite alternate linear;
  z-index: 10;
}

.ham span {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--mColor4);
  border-radius: 2px;
  transition: 0.3s;
}

.ham span:nth-of-type(1) {
  top: 0;
}
.ham span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}
.ham span:nth-of-type(3) {
  top: calc(100% - 4px);
}

.ham.off {
  display: none;
  animation-play-state: paused;
  z-index: 1;
}

.ham.off span:nth-of-type(1) {
  /* transform: rotate(45deg); */
  transform-origin: left;
  width: calc(100% + 1.414%);
  /* top: 50%; */
  transform: rotate(45deg);
}
.ham.off span:nth-of-type(2) {
  display: none;
}
.ham.off span:nth-of-type(3) {
  transform: rotate(-45deg);
  width: calc(100% + 1.414%);
  transform-origin: left;
}

header {
  border: 1px solid yellow;
  position: fixed;
  width: 200px;
  height: 100vh;
  /* left: -100%; */
  background-color: var(--mColor4);
  text-align: center;
  padding-top: 100px;
  transition: 0.3s;
  transform: perspective(900px) rotateY(120deg);
  transform-origin: left;
  z-index: 10;
  /* transform: skew(-5deg); */
}

/* header > * {
  transform: skewX(5deg);
} */

header.on {
  /* left: 0; */
  transform: perspective(900px) rotateY(10deg);
}

header img {
  width: 50%;
}
header nav {
  margin: 100px 0;
}
header a {
  color: var(--mColor2);
  display: block;
  padding: 1rem;
  border-bottom: 1px dotted var(--mColor3);
}

header a:first-of-type {
  border-top: 1px dotted var(--mColor3);
}

header a:hover {
  background-color: var(--mColor2);
  color: white;
}

main {
  width: 100%;
  height: 100vh;
  /* border: 5px solid yellow; */
  position: fixed;
  visibility: hidden;
  z-index: -1;
  text-align: right;
  transition: 0.3s linear;
  transform: perspective(800px) rotate(0);
  transform-origin: right;
}

main.on {
  visibility: visible;
  z-index: 1;
  transform: perspective(800px) rotateY(-5deg);
}

main > section {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid red;
  background-color: var(--mColor3);
  visibility: hidden;
  z-index: -1;
  transition: 0.3s;
}

main > section.on {
  visibility: visible;
  z-index: 1;
}

@keyframes ani1 {
  0% {
    opacity: 0.8;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1.1);
  }
}
