/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  background-color: black;
  color: white;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}

.sec .inner {
  border: 1px solid red;
  width: 90%;
  margin: auto;
}

.sec h2 {
  text-align: center;
  padding: 1rem;
}

.sec img {
  width: 100px;
}

.list {
  border: 1px solid yellow;
}

.list li {
  border: 1px solid rgb(0, 255, 115);
  background-color: #222;
  margin-bottom: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  gap: 2rem;
}

.list > li > div {
  border: 1px solid coral;
}

.desc {
  width: 55%;
}

.pImg {
  width: calc(45% - 2rem);
  border-radius: 2rem;
  overflow: hidden;
}

.pImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .list li:nth-of-type(odd) .desc {
  order: 1;
} */

.list li:nth-of-type(odd) .desc {
  flex-direction: row-reverse;
}
