/** @format */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header,
footer {
  height: 100px;
  background-color: #eaeaea;
}

.mw {
  border: 1px solid red;
  max-width: 1400px;
  width: calc(100% -2rem);
  margin: auto;
}

.sec1 > .inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sec1 > .inner > * {
  border: 1px solid lightseagreen;
}

.sec1 .swiper {
  margin: 0;
}

.sec1 h2 {
  position: absolute;
  top: 30%;
}

.sec1 .projectName {
  max-width: 300px;
  width: 30%;
}

.sec1 .projectName .swiper-slide {
  background-color: white;
}

.sec1 .projectImg {
  width: 50%;
}

.sec1 .projectImg img,
.sec1 .projectImg a {
  position: absolute;
}

.sec1 .projectImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
}

.sec1 .projectImg a {
  padding: 1rem 2rem;
  background-color: white;
  font-weight: bold;
  bottom: 0;
  left: 0;
}

.sec1 .projectImg .swiper-slide {
  border: 10px solid red;
  padding-top: 100%;
}

.sec1 .next1,
.sec1 .prev1 {
  top: calc(50% + 100px);
  width: 50px;
  height: 25px;
}

.sec1 .next1,
.sec1 .prev1 {
  fill: aquamarine;
}

.sec1 .next1::after,
.sec1 .prev1::after {
  content: '';
}

.sec1 .next1 {
  right: auto;
  left: 50px;
}

.sec1 .prev1 {
  left: 0;
}

.sec1 .prev1 svg {
  transform: rotate(180deg);
}

.sec1 .pg1 {
  bottom: auto;
  width: 100px;
  top: calc(50% + 150px);
}
