.con {
  display: grid;
  /* fr단위는 columns에서만 사용된다 */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 100px);
  grid-auto-rows: 100px;
  grid-auto-flow: dense;
}

.item1 {
  /* grid-row: 1/4; */
  grid-row: 2 / span 3;
  background-color: tomato;
}

.item2 {
  /* grid-row-start: 2;
  grid-row-end: span 2; */
  grid-row: 2 / span 2;
  /* grid-column-start: 2;
  grid-column-end: sapn 2; */
  grid-column: 2 / span 2;
  background-color: lightblue;
}

.item3 {
  grid-column: span 2 / -1;
  background-color: blueviolet;
}
