.con {
  width: 1000px;
  height: 1000px;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);

  justify-content: center;
  /* justify-content: space-around; */
  /* justify-content: space-between; */
  /* justify-content: end; */
  /* justify-content: start; */
  /* justify-content: space-evenly; */

  /* align-content: space-between; */
  /* align-content: center; */
  /* align-items: center; */
  /* align-items: end; */
  align-items: start;
}

.con > div {
  width: 50%;
}

.item1 {
  align-self: center;
}
