.con {
  display: grid;
  /* grid-template-columns: repeat(2, 100px); */
  /* grid-template-columns: minmax(200px, 400px) minmax(200px, 400px); */
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-template-rows: repeat(2, 100px);
}

/* 
auto-fit
auto-fill 
*/

.item4 {
  order: -1;
}
